.header {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 15px;
  }

  &__nav {
    margin-right: 21%;
  }

  &__menu {
    display: flex;
    grid-gap: 22px;
  }

  &__link {
    grid-gap: 22px;
    list-style: none;
    text-decoration: none;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000000;
    grid-gap: 22px;
  }
}
