.header {
  &__wrapper {
    display: flex;
    align-items: center;
    padding: 22px 15px;
    flex-wrap: wrap;
  }

  &__nav {
    margin-right: 21%;
    flex-wrap: wrap;
  }

  &__menu {
    margin: 0;
    display: flex;
    grid-gap: 22px;
  }

  &__toggler {
    display: none;
  }

  &__link {
    grid-gap: 22px;
    list-style: none;
    text-decoration: none;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000000;
    grid-gap: 22px;
  }
  &__icon {
    margin-left: auto;
  }
}
