.image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 45px;

    &__img {
        min-width: 400px;
        min-height: 400px;
        width: 100%;
    }
 }