.wrapper {
  background: url("../../img/Rectangle.jpg") center / cover no-repeat;
  height: 100vh;
  text-align: center;

  &__tecst {
    font-size: 44px;
    line-height: 51px;
    text-align: center;
    color: #000000;
    padding-top: 45px;
  }
  &__test {
    margin: 0;
    margin: 22px 0 16px;
    font-size: 15px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 1px;
    color: #000000;
  }
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 12px;
  }
  &__btn {
    padding: 5px 45px;
    font-size: 15px;
    line-height: 22px;
    color: #ffffff;
    background: #ff4a32;
    border-radius: 35px;
    border: 0;
  }
}
